/*Adicionando fonte*/
@font-face {
  font-family: 'DS_Digital';
  src: url('../font//DS-DIGII.ttf') format('truetype');
}

button{
	margin: 0.6em;
}

h1{
	font-family:'DS_Digital' !important;
	font-size: 4.5em;
}
body{
	min-width: 280px;
}

#btn-changeStyle{
	position: absolute;
	left: 90%;
    top: 5%;
    transform: translate(-50%,-50%);
}

@media (max-width:780px){
	h1{
		text-align: center;
	}
	button {
		margin: auto;
	}
	#btns{
		width: 100%;
		text-align: center;
		
	}
}
