* {
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
}

:root{
	--cor-fundo: #0d1117 /*#17191E*/;
	--cor-text: #F8FAFD;
	--cor-text-escuro: #CFD6E4;
	--cor-fundo-claro:  #1E2028;
	--color-header-bg: #161b22;
	/*radial-gradient(circle, #a8a8a8, #808081, #5a5b5b, #363838, #171817);*/
	--main-font: 'Manrope', Helvetica, sans-serif;	

}
 
body{
	background-color: var(--cor-fundo);
	color: var(--cor-text);
}

a {
	text-decoration: none;
	color: var(--cor-text);
}

a:visited {
	color: var(--cor-text);	
}

a:hover {
	cursor: pointer;
	opacity: 0.7;
}

@media (max-width:767px){
	
	header:nth-child(n) {	
		width: 100%;		
		margin: 0;
		padding: 0;
	}

	header nav {
		
	}

	header a {
		
	}

	header nav a:not([href="https://github.com/Caique-Garcia"]){
  display: none;
	}	

	.section1 {	
	width: 100%;
	margin: auto;
	flex-direction: column;
	}

	.section2 {	
	width: 100%;
	margin: 10px 0;
	height: auto;
	flex-direction: column;	
	align-items: baseline;
	}

	
	.texto a h2 {
		font-size: 2.5em;
		text-align: center;
	}

	.section1 .area-img {
		display: none;
	}

	.section2 div {
		width: 80% !important;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.habilidades div {
		margin-top: 30px;
	}

	div.apresentacao{		
		margin-top: 125px;
	}

	div.apresentacao div p {
		font-size: 1.3em;
	}


	div.apresentacao div h2 {
		font-size: 1.8em;
	}

	div.redes{
		margin-top: 125px;
		margin-bottom: 125px;
		text-align: center;			
		align-items: baseline;
	}

.redes span {
	margin: 5px 25px;
	width: 120%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: transparent;
}

.redes span a img {
	width: 80%;
}





	#trabalhos,
	.trabalhos h2,
	section.trabalhos {
		display: none;
		/*border: 1px solid red;
		display: flex;
		align-items: center;
		flex-direction: column;
		height: auto;*/
	}
	
	}

header {
	background-color: var(--color-header-bg);
	position: fixed;
	margin-bottom: 20px;
	width: 100%;
	line-height: 40px;
	height: 45px;
	display: flex;
	
	flex-direction: row;
 	justify-content: space-between;
 	font-size: 1em;
 	z-index: 5;

}

nav a {
	margin: 0 15px;
}

header nav {
	margin-right: 10%;
}

header a.logo {
	margin-left: 10%;
}

section {
	height: 100vh;
	width: 100%;
	display: flex;

}



.section1 {
	justify-content: center;
  align-items: center;
}

.area-principal {
	display: flex;
	width: 75%;
	height: 80%;
	margin: auto;
	flex-direction: row;
	justify-content: center;	
	
}

.area-git,
.area-img {
	margin: auto;
	display: flex;
	width: 40%;
	height: 80%;
	align-items: center;
	justify-content: center;
}

.astronauta {
	border-radius: 50%;
	background: transparent;
}

.texto h2 {
	font-size: 3em;
}

.habilidades,
.apresentacao {
	width: 30%;
	height: 50%;
	margin: auto;
	
}

.img {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 35px;
	margin-top: 115px;
	/*animation: bounce 1s infinite alternate;
  	-webkit-animation: bounce 1s infinite alternate;*/
}

.apresentacao h2,
.habilidades h2{
	text-align: center;

}
.apresentacao p {
	padding: 0 8px;
	text-align: justify;
}

.redes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	text-align: center;
	
}
.redes span {
	margin: 5px 25px;
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	background: transparent;
	
}

.redes a {
	margin: 8px;
}
.redes h2,
.trabalhos h2 {
	margin: 15px;
}

.trabalhos {
	flex-direction: column;
    align-items: center;
	width: 81%;	
	height: 75vh;
	/*background-color: var(--cor-fundo-claro);*/
	margin: 0 auto;
	border-radius: 0.5em;
}
.cards {

	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;	
}
.card{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 70%;
	margin: auto;
	background-image: linear-gradient(to right top, #141414, #121212, #0f0f0f, #0b0c0c, #080908);	
}

.card:hover {
	opacity: 0.3;	
}

.card h2 {
	margin-bottom: 55px;
	text-transform: uppercase;
}

footer {
	height: 35px;
	display: block;
	text-align: center;
	margin: 25px;
	padding: 0px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}

.ani1 {
	animation: bounce 0.8s infinite alternate;
  	-webkit-animation: bounce 0.8s infinite alternate;
}

.ani2{
	animation: bounce 1s infinite alternate;
  	-webkit-animation: bounce 1s infinite alternate;
}

.ani3{
	animation: bounce 1.2s infinite alternate;
  	-webkit-animation: bounce 1.2s infinite alternate;

}


